#navelementswrapper{
    
    position: absolute;
    top:0;
    right:24px;
    padding: 0px;
    font-size: 36px;
    

}


.nav-link{
    margin-left: 10px;
    margin-right: 10px;
    
}

#infobox{
    margin:12px;
    
    height:85vh;
    
}
.area{
    display: inline-block;
}

#area1{
    

    background-color: red;
    width: 40%;
    
    
    
}
#area2{
    background-color: blanchedalmond;
    
    width: 30%;

   
    
    
    
    
}
#area3{
    background-color: burlywood;
    width: 29%;
    
   
    
}

.bottomAlign{
    height: calc(100vh - 150px); display: table-cell; vertical-align: bottom;
    padding: 10px;
}


@media screen and (max-width: 1200px) {
    .bottomAlign{
        display:block;
        vertical-align: auto;
        height:fit-content;

    }
}