#navelementswrapper{
    
    position: absolute;
    top:0;
    right:24px;
    padding: 0px;
    font-size: 36px;
    

}


.nav-link{
    margin-left: 10px;
    margin-right: 10px;
    
}

.netflix{
    font-family: 'Questrial', sans-serif;
}

.title{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-top: 100px;
}

.text{
    margin:0px auto;
    width: 50%;

}