#navelementswrapper{
    
    position: absolute;
    top:0;
    right:24px;
    padding: 0px;
    font-size: 36px;
    

}


.nav-link{
    margin-left: 10px;
    margin-right: 10px;
    
}

.text{
  padding-right: 100px;
}

.img{
  margin-bottom: 100px;
}